<h1>生徒一覧</h1>


<% @students.each do |e| %>
<p>
     【学籍番号】<%= e.students_id %>
     【氏名】<%= e.name %>
     <%= link_to '削除', student_path(e), method: :delete %>
</p>

<% end %>

<%= link_to '新規追加', '/students/new' %>
