// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #d0e39b;
}

.form {
    border: 1px solid #555;
    padding-top:225px;
    text-align:center
}